html{
    width: 100vw;
}

.web-layout{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.header-layout{
    height: auto;
    width: 100%;
    margin-top: 0;
    /* border: 2px solid green; */
}

.main-layout{
    width: 100%;
    height: auto;
    /* border: 2px solid blue; */
}

.footer-layout{
    height: auto;
    width: 100%;
    margin-bottom: 0;
    /* border: 2px solid red; */
}

.login-button{
    border: 1px solid #ffffff !important;
    padding: 0.5rem 2rem !important;
}

.login-button :hover{
    background-color: #ffffff !important;
    color: black !important;
    padding: 2rem !important;
}